<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Games - Ronen Community</title>
  <link rel="stylesheet" href="/css/games-<%= config.distVersion %>.css">
  <%- include('../partials/analytics.html') %>
</head>
<body>
  <%- include('../partials/top-menu.html') %>
  <%- include('../partials/ads-top-banner.html') %>
  <div class="page-content">
    <%- include('../partials/raffle-card.html') %>
    <h2 class="header-title">
      Game catalog
    </h2>
    <%- include('../partials/game-catalog.html') %>
  </div>
  <%- include('../partials/footer.html') %>
  <%- include('../partials/overlay-disconnect.html') %>
  <%- include('../partials/overlay-tournament-entry.html') %>
  <%- include('../partials/overlay-login.html') %>
  <script src="/js/games-<%= config.distVersion %>.js"></script>
</body>
</html>
