<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Games - Ronen Community</title>
  <link rel="stylesheet" href="/css/games-<%= config.distVersion %>.css">
  <%- include('../partials/analytics.html') %>
</head>
<body>
  <%- include('../partials/top-menu.html') %>
  <%- include('../partials/ads-top-banner.html') %>
  <div class="page-content">
    <%- include('../partials/raffle-card.html') %>
    <h2 class="game-catalog">
      Game catalog
    </h2>
    <ul class="game-list">
      <% for (i in games) { %>
        <% if (games[i].visible) { %>
          <li class="card game-card">
            <picture>
              <img src="/game-assets/<%= games[i].slug %>/banner.png" />
            </picture>
            <h3><%= games[i].name %></h3>
            <p class="description"><%= games[i].description %></p>
            <p class="last-updated">Updated: <%= new Date(games[i].lastUpdate).toLocaleDateString("en-US", {
              month: "short",
              day: "2-digit",
              year: "numeric"
              })  %></p>
            <a href="#" class="button" data-slug="<%= games[i].slug %>">Play</a>
          </li>
        <% } %>
      <% } %>
    </ul>

  </div>
  <%- include('../partials/footer.html') %>
  <%- include('../partials/overlay-disconnect.html') %>
  <%- include('../partials/overlay-raffle.html') %>
  <%- include('../partials/overlay-login.html') %>
  <script src="/js/games-<%= config.distVersion %>.js"></script>
</body>
</html>
