@use './mixins' as *;
@use './variables' as *;

.game-list {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}

.game-card {
  display: flex;
  flex-direction: column;
  padding: 0;
  overflow: hidden;
  min-width: 260px;
  max-width: 260px;

  &:hover {
    border-color: color-mix(in oklab,oklch(76.5% .177 163.223) 40%,transparent);
  }

  a {
    color: white;
  }

  picture {
    display: block;
    margin-bottom: 24px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      box-shadow: 0 0 12px inset #000;
    }

    img {
      display: block;
      aspect-ratio: 16 / 9;
      width: 100%;
      object-fit: cover;
      object-position: top center;
    }
  }

  h3 {
    font-size: 1.4rem;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 8px;
  }

  .description {
    margin-bottom: 12px;
  }

  .button {
    padding: 14px 0 12px;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    font-family: 'Press Start 2P', serif;
  }

  .last-updated {
    font-size: 80%;
    margin-bottom: 24px;
    color: white;
    flex: 1;
  }
}
