@use './mixins' as *;
@use './variables' as *;

.game-list {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}

.featured {
  flex: 0 0 100%;

  .game-card {
    @include min-768 {
      min-width: 750px;
      max-width: 0;
    }

    margin: auto;
  }
}

.game-card {
  display: flex;
  flex-direction: column;
  padding: 0;
  overflow: hidden;
  min-width: 360px;
  max-width: 420px;
  position: relative;

  &.featured {
    min-width: 720px;
    max-width: 100%;
    flex: 0 0 100%;
  }

  &:hover {
    border-color: color-mix(in oklab,oklch(76.5% .177 163.223) 40%,transparent);
  }

  a {
    color: white;
  }

  picture {
    display: block;
    position: relative;
    z-index: 1;

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      box-shadow: 0 0 12px inset #000;
    }

    img {
      display: block;
      aspect-ratio: 16 / 9;
      width: 100%;
      object-fit: cover;
      object-position: top center;
      margin-top: -2px;
    }
  }


  .information {
    position: absolute;
    z-index: 3;
    bottom: 0;
    width: 100%;
    text-align: left;
    padding-left: 20px;
  }

  .blur {
    backdrop-filter: blur(1px);
    position: absolute;
    z-index: 2;
    inset: 0;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6) 80%);
    -webkit-mask-image: linear-gradient(to top, black 20%, rgba(0, 0, 0, 0.9) 50%, transparent);
  }


  h3 {
    font-family: 'Mulish', serif;
    font-size: 1.4rem;
    cursor: pointer;
    margin-bottom: 12px;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
  }

  .description {
    line-height: 16px;
    margin-bottom: 2px;
    color: #aaa;
  }

  .last-updated {
    font-size: 10px;
    margin-bottom: 12px;
    color: white;
    flex: 1;
  }
}
