@use './variables' as *;

/* latin */
@font-face {
  font-family: Newsreader;
  font-style: normal;
  font-weight: 200 800;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/newsreader/v25/cY9AfjOCX1hbuyalUrK4397yjA.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/pressstart2p/v15/e3t4euO8T-267oIAQAu6jDQyK3nVivM.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mulish/v18/1Ptyg83HX_SGhgqO0yLcmjzUAuWexZNR8aevGw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: oklch(0.178 0.022 253.8);
  font-family: 'Newsreader', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.35em;
  color: white;
}

a {
  text-decoration: none;
  color: $link-color;
}

ol, ul {
  margin-left: 20px;
  list-style: none;

  li {
    margin-bottom: 0.8rem;
  }
}

.one-line {
  white-space: nowrap;
}

.page-content {
  padding: 20px;
}

#top-banner {
  padding: 12px 0 4px;
  text-align: center;
  color: white;

  #top-banner-inner {
    max-width: 100%;
    overflow: hidden;
    display: inline-flex;
    color: white;
    text-align: left;
    backdrop-filter: blur(8px);
    background: color-mix(in oklab, oklch(27.9% .041 260.031) 60%, transparent) 100%;
    padding: 8px 12px;
    border: 1px solid color-mix(in oklab, $border-color 20%, transparent);

    p {
      font-size: 80%
    }
  }
}

h2.header-title {
  font-family: 'Press Start 2P', serif;
  font-size: 14px;
  color: white;
  text-align: center;
  padding: 8px;
  margin-bottom: 32px;
  position: relative;
  text-transform: uppercase;

  &::after {
    content: ' ';
    position: absolute;
    bottom: -5px;
    left: 50%;
    background: $emerald500;
    width: 64px;
    height: 4px;
    transform: translateX(-50%);
  }

}

.button {
  background: transparent;
  border: 1px solid $border-color;
  color: $border-color;
  padding: 6px 10px 5px;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

section {
  margin-bottom: 40px;
}

table {
  border-spacing: 0;
  border-left: 1px solid $border-color;
  border-top: 1px solid $border-color;
  color: white;
  width: 100%;

  td,
  th {
    border-right: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    padding: 8px 12px;
  }

  h2 {
    margin-bottom: 0;
    padding: 0;
  }
}

.rounded-table {
  border: 0;

  td,
  th {
    border: 1px solid rgb(204, 204, 204);
    padding: 16px 24px;
  }

  th {
    background: rgba(255,255,255,.05) !important;
  }

  td,
  th {
    &:first-child {
      border-left: 1px solid rgb(204, 204, 204);
    }

    &:last-child {
      border-right: 1px solid rgb(204, 204, 204);
    }
  }

  tr {
    &:first-child {
      td,
      th {
        &:first-child {
          border-top-left-radius: 12px;
        }

        &:last-child {
          border-top-right-radius: 12px;
        }
      }
    }

    &:last-child {
      td,
      th {
        &:first-child {
          border-bottom-left-radius: 12px;
        }

        &:last-child {
          border-bottom-right-radius: 12px;
        }
      }
    }
  }
}

.login-btn {
  cursor: pointer;
  background-image:
    linear-gradient(
        oklch(0.18 0.16 253.8),
        oklch(0.1 0.10 263.8)
    ),
    linear-gradient(oklch(0 0 0), oklch(0 0 0));
  color: white;

  display: inline-flex;
  min-height: 40px;
  padding: 0 16px;
  align-items: center;
}

.breadcrumb {
  background-image: linear-gradient(
      to right bottom,
      color-mix(in oklab, oklch(20.8% .042 265.755) 80%, transparent) 0%,
      color-mix(in oklab, oklch(27.9% .041 260.031) 60%, transparent) 100%
  );
  backdrop-filter: blur(8px);
  border: 2px solid color-mix(in oklab, $border-color 20%, transparent);
  margin: 0 0 2rem;
  padding: 1rem 0.7rem;
  border-radius: 4px;
  display: flex;
  gap: 16px;

  li {
    position: relative;
    margin: 0;

    &::before {
      content: '/';
      color: $border-color;
      position: absolute;
      left: -10px;
    }

    &:first-child {
      &::before {
        content: '';
        margin: 0;
      }
    }
  }
}