@use 'sass:color';
@use './mixins' as *;
@use './variables' as *;

@keyframes border-pulse {
  0%   {
    border-color: $border-color;
    background: $content-bg;
  }

  50%  {
    border-color: color.adjust($border-color, $lightness: 15%);
    background: color.adjust($content-bg, $lightness: 7%);
  }

  100% {
    border-color: color.adjust($border-color, $lightness: 30%);
    background: color.adjust($content-bg, $lightness: 15%);
  }
}

body:has(.overlay.show) {
  overflow: hidden;
}

.overlay {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(10px) hue-rotate(15deg);
  z-index: 3;
  display: none;

  &.show {
    display: block;
  }

  p {
    margin-bottom: 16px;
  }

  .overlay-body {
    background: $content-bg;
    color: white;
    display: inline-block;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 100px;
    padding: 24px;
    min-width: 320px;
    border-radius: 4px;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.24);
  }

  .overlay-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;

    h3 {
      font-size: 18px;
    }

    button {
      display: block;
      background: transparent;
      border: 0;
      position: relative;
      top: -4px;
      cursor: pointer;

      svg {
        width: 24px;
        stroke: white;
      }
    }
  }

  .add-pulse {
    animation: border-pulse 1s infinite;
  }
}

#overlay-disconnect {
  .disconnect-btn {
    background: $red600;
    border-radius: 4px;
    border: 0;
    color: white;

    &:hover {
      background: $red700;
    }
  }

  .wallet-address {
    font-size: 14px;
    background-color: color-mix(in oklab, $grey700 50%, transparent);
    padding: 12px 12px 8px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      background: $grey600;
      border-radius: 4px;
      outline: 0;
      border: 0;
      padding: 4px 4px 0 4px;
      position: relative;
      top: -2px;
      cursor: pointer;
    }

    svg {
      width: 16px;
      stroke: white;
    }
  }
}

#overlay-login {
  h2 {
    margin-bottom: 12px;
  }

  .login-buttons {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 16px;
  }
}

#overlay-raffle,
#overlay-tournament-entry {
  h2 {
    margin-bottom: 12px;
  }

  .start-block {
    &.hide {
      display: none;
    }
  }

  .thank-you-block {
    display: none;

    &.show {
      display: block;
    }
  }

  .ron-amount {
    margin-top: 20px;
    margin-bottom: 4px;
  }

  input {
    margin-bottom: 4px;
    padding: 4px;
    font-size: 1rem;
    width: 100%;
  }

  .disclaimer {
    font-size: 0.8rem;
    line-height: 1.2;
  }

  .button {
    padding: 8px;
    text-transform: uppercase;
    font-weight: 600;
  }

  .reload-button {
    margin-top: 12px;
  }
}
