@use './mixins' as *;
@use './variables' as *;

body:has(.overlay.show) {
  overflow: hidden;
}

.overlay {
  position: fixed;
  inset: 0;
  background: #FFF6;
  z-index: 3;
  display: none;

  &.show {
    display: block;
  }

  p {
    margin-bottom: 16px;
  }

  .overlay-body {
    background: $content-bg;
    color: white;
    display: inline-block;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 100px;
    padding: 32px;
    min-width: 320px;
  }
}

#overlay-disconnect {
  .wallet-address {
    font-size: 12px;
  }
}

#overlay-login {
  h2 {
    margin-bottom: 12px;
  }
}

#overlay-raffle {
  h2 {
    margin-bottom: 12px;
  }

  .start-raffle {
    &.hide {
      display: none;
    }
  }

  .thank-you-raffle {
    display: none;

    &.show {
      display: block;
    }
  }

  .ron-amount {
    margin-top: 20px;
    margin-bottom: 4px;
  }

  input {
    margin-bottom: 4px;
    padding: 4px;
    font-size: 1rem;
    width: 100%;
  }

  .disclaimer {
    font-size: 0.8rem;
    line-height: 1.2;
  }

  .button {
    padding: 8px;
    text-transform: uppercase;
    font-weight: 600;
  }
}
