@use './mixins' as *;
@use './variables' as *;

#top-menu {
  display: flex;
  justify-content: space-between;
  background: $content-bg;
  padding: 8px $padding-side;
  border-bottom: 1px solid $border-color;
  align-items: center;

  #logo {
    display: flex;

    img {
      max-width: 48px;
      display: block;
    }
  }

  #right-menu {
    display: flex;
    align-items: center;
    column-gap: 12px;
  }

  #left-menu {
    display: flex;
    align-items: center;
    column-gap: 12px;

    ul {
      display: flex;
      margin: 0;
      list-style: none;
      column-gap: 12px;

      li {
        margin: 0;
      }
    }
  }

  .short-wallet::before {
    content: attr(data-wallet);
    font-family: monospace;
    display: inline-block;
    max-width: 12ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
