@use './mixins' as *;
@use './variables' as *;

#top-menu {
  font-family: 'Mulish', serif;
  justify-content: space-between;
  background-color: oklch(0.23 0.022 253.8);
  border-color: color-mix(in oklab, oklch(27.8% .033 256.848) 20%, transparent);
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.24);
  padding: 8px $padding-side;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 11;

  &.open {
    #mobile-links {
      display: block;
    }
  }

  #top-menu-inner {
    display: flex;
    padding: 3px 0;
    width: 100%;
    position: relative;
    justify-content: space-between;
  }

  a {
    color: oklch(70.7% .022 261.325);
    font-size: 16px;
  }

  #logo {
    display: flex;

    img {
      max-width: 42px;
      display: block;
    }
  }

  #right-menu {
    display: flex;
    align-items: center;
    column-gap: 12px;
    position: relative;
    z-index: 2;

    .button {
      background: $table-border-color;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
      border: 1px solid oklch(79.2% 0.209 151.711deg / 0.3);
      font-family: 'Newsreader', serif;
      border-radius: 6px;
      color: white;
      font-size: 17px;
      padding: 8px 16px;
    }
  }

  #left-menu {
    display: flex;
    align-items: center;
    column-gap: 12px;
    flex: 1;
    position: relative;
    z-index: 2;

    @include min-768 {
      flex: unset;
    }
  }

  .desktop-links {
    margin: 0;
    list-style: none;
    column-gap: 25px;
    flex: 1;
    justify-content: center;
    align-items: center;
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;

    @include min-768 {
      display: flex;
      justify-content: flex-start;
      padding-left: 70px;
    }

    li {
      margin: 0;

      &.selected {
        border-bottom: 2px solid $border-color;
        padding-bottom: 4px;
      }
    }
  }

  .short-wallet::before {
    content: attr(data-wallet);
    font-family: monospace;
    display: inline-block;
    max-width: 12ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  #mobile-menu {
    width: 24px;
    margin-left: 9px;
    background: transparent;
    outline: 0;
    border: 0;

    svg {
      stroke: white;
    }

    @include min-768 {
      display: none;
    }
  }

  #mobile-links {
    position: relative;
    width: 100%;
    left: 0;
    margin: 0;
    z-index: 4;
    padding-top: 12px;
    display: none;

    li {
      padding: 12px;
      margin: 0;

      &.selected {
        background-color: color-mix(in oklab, oklch(62.7% .194 149.214) 20%, transparent);
        border-radius: 10px;

        a {
          color: white;
        }
      }
    }
  }
}
