@use './mixins' as *;
@use './variables' as *;

.top-menu {
  display: flex;
  justify-content: space-between;
  background: $content-bg;
  padding: 8px;
  border-bottom: 1px solid $border-color;
  align-items: center;

  #logo {
    display: flex;

    img {
      max-width: 48px;
      display: block;
    }
  }

  svg {
    width: 32px;
    fill: white;
  }

  #connect-wallet,
  #disconnect-wallet {
    border-radius: 6px;
    background: $menu-color;
    padding: 5px 12px 4px;
    font-weight: 500;
    cursor: pointer;
  }

  #right-menu {
    display: flex;
    align-items: center;
    column-gap: 12px;
  }

  .short-wallet::before {
    content: attr(data-wallet);
  }

  .short-wallet::before {
    content: attr(data-wallet);
    font-family: monospace;
    /* Mask the middle part */
    display: inline-block;
    max-width: 12ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
