$body-bg: oklch(0.25 0.022 253.8);
$padding-side: 16px;
$selected-menu-color: #FFF;
$menu-color: #AAA;
$border-color: oklch(79.2% .209 151.711);;
$table-border-color: oklch(79.2% .209 151.711 / 0.2);
$table-th-bg: oklch(18% 0.022 253.8);
$table-th-even: oklch(79.2% .209 151.711 / 0.04);
$content-bg: #2b2b2b;
$link-color: #bddd0e;
$emerald500: oklch(39.2% .209 151.711);
$grey600: oklch(44.6% .03 256.802);;
$grey700: oklch(37.3% .034 259.733);
$gray900: oklch(28% .034 259.733);
$red600: oklch(57.7% .245 27.325);
$red700: oklch(50.5% .213 27.518);