@use './mixins' as *;
@use './variables' as *;

.wiki-menu {
  display: grid;
  z-index: 1;
  position: relative;
  list-style: none;
  margin: 0 0 92px;
  grid-template-columns: 1fr 1fr;

  @include min-768 {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include min-1024 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  @include min-768 {
    flex-direction: column;
    align-items: flex-start;
  }

  li {
    min-width: 100px;
    margin: 0;

    &.selected {
      border-bottom: 2px solid $border-color;
      position: absolute;
      bottom: -70px;
      width: 100%;

      label {
        justify-content: center;
      }
    }
  }

  a {
    text-decoration: none;
    padding: 8px 8px 8px 0;
    display: block;
  }

  input {
    display: none;
  }

  img {
    width: 100%;
    max-width: 36px;
    height: 36px;
    object-fit: contain;
  }

  label {
    color: $menu-color;
    display: flex;
    align-items: center;
    column-gap: 8px;
    cursor: pointer;
  }
}
