<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ronen Community - Home Page</title>
  <link rel="stylesheet" href="/css/index-<%= config.distVersion %>.css">
  <link rel="icon" href="/img/favicon.ico" sizes="32x32"/>
  <%- include('./partials/analytics.html') %>
</head>
<body>
  <%- include('partials/top-menu.html') %>
  <%- include('./partials/ads-top-banner.html') %>
  <div class="page-content">
    <h1>Ronen Community</h1>
    <ul class="intro">
      <li><a href="/wiki/ronen">Wikis</a></li>
      <li><a href="/games">Games</a></li>
      <li><a href="/raffles">Raffles</a></li>
      <li><a href="https://github.com/monmonja/ronencommunity">Open source</a></li>
    </ul>
    <h2 class="header-title">Wikis</h2>
    <%- include('./partials/wiki-menu.html') %>
    <h2 class="header-title">Games</h2>
    <%- include('./partials/game-catalog.html') %>
  </div>
  <%- include('./partials/footer.html') %>
  <%- include('./partials/overlay-disconnect.html') %>
  <%- include('./partials/overlay-login.html') %>
  <script src="/js/app-<%= config.distVersion %>.js"></script>
</body>
</html>
