<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ronen Community - Home Page</title>
  <link rel="stylesheet" href="/css/index.css?v=1">
  <link rel="icon" href="/img/favicon.ico" sizes="32x32"/>
  <meta name="csrf-token" content="<%= csrfToken %>">
  <%- include('./partials/analytics.html') %>
  <%- include('./partials/adsense.html') %>
</head>
<body>
  <%- include('partials/top-menu.html') %>
  <%- include('./partials/ads-top-banner.html') %>
  <div class="page-content">
    <p class="intro">
      This website is for ronen network and its game. <br />
      It will serve as a wiki for the games under its network.<br />
      We also have arcade type games that uses ronen games as inspiration. <br />
      It is open source, anyone can contribute by either opening a pr or leaving an issue in
      <a href="https://github.com/monmonja/ronencommunity">https://github.com/monmonja/ronencommunity</a>
    </p>
  </div>
  <%- include('./partials/footer.html') %>
  <%- include('./partials/overlay-disconnect.html') %>
  <%- include('./partials/overlay-login.html') %>
  <script src="/js/app.js"></script>
</body>
</html>
