<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Page - Ronen Community</title>
  <link rel="stylesheet" href="/css/admin-<%= config.distVersion %>.css">
  <link rel="icon" href="/img/favicon.ico" sizes="32x32"/>
</head>
<body>

  <div class="page-content">
    <a href="/game-rooms/make">Make Game room</a><br /><br />
    <a href="/admin/access-list">Access list</a><br /><br />
    <a href="/stats">Stats</a><br /><br />

    <h2>Room Counter</h2>
    <table>
      <tr>
        <td>Current</td>
        <td><%= roomCounter.current %></td>
      </tr>
      <tr>
        <td>Max</td>
        <td><%= roomCounter.max %></td>
      </tr>
    </table>
    <br />
    <section id="rooms" style="color:white">
      <h2>Rooms</h2>
      <div class="rooms-wrapper">
        <% for (const key in rooms) { %>
        <table >
          <tr><td colspan="2"><%= rooms[key].roomId %></td> </tr>
          <tr>
            <td>Player 1</td>
            <td><%= rooms[key].players[0]?.address %></td>
          </tr>
          <tr>
            <td>Player 2</td>
            <td><%= rooms[key].players[1]?.address %></td>
          </tr>
          <tr>
            <td>Status</td>
            <td><%= rooms[key].status %></td>
          </tr>
          <tr>
            <td colspan="2">
              <a href="/admin/delete-room/<%= rooms[key].roomId %>">Delete Room</a>
            </td>
          </tr>
        </table>
        <% } %>
      </div>
    </section>
  </div>
  <%- include('../partials/footer.html') %>
  <%- include('../partials/overlay-disconnect.html') %>
  <%- include('../partials/overlay-login.html') %>
  <script src="/js/app-<%= config.distVersion %>.js"></script>
</body>
</html>
