<h2 class="header-title">Daily Games Played</h2>
<section>
  <table >
    <thead>
    <tr>
      <th>Date Created</th>
      <th>Game</th>
      <th>Count</th>
    </tr>
    </thead>
    <tbody>
    <% if (dailyPlays && dailyPlays.length > 0) { %>
    <% dailyPlays.forEach(function(dailyPlay) { %>
      <% if (dailyPlay.date) { %>
      <tr>
        <%
        const date = new Date(dailyPlay.date);
        const months = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"];
        const formatted = `${months[date.getUTCMonth()]} ${String(date.getUTCDate()).padStart(2,"0")}`;
        %>

        <td><%= formatted %></td>
        <td><%= JSON.stringify(dailyPlay.game?.name) %></td>
        <td class="text-center"><%= dailyPlay.totalEnergyUsed %></td>
      </tr>
    <% } %>
    <% }); %>
    <% } else { %>
    <tr>
      <td colspan="5">No consumes found</td>
    </tr>
    <% } %>
    </tbody>
  </table>
</section>