<div id="overlay-raffle" class="overlay">
  <div class="overlay-body">
    <h2>Raffle access</h2>
    <div class="start-raffle">
      <p>
        Playing games requires you to join the raffle. Each raffle lasts 2 weeks.
      </p>
      <div>Raffle Fund Allocation:</div>
      <table>
        <tr>
          <td>50%</td>
          <td>Burn $RONEN and Baxie NFT</td>
        </tr>
        <tr>
          <td>40%</td>
          <td>One raffle winner</td>
        </tr>
        <tr>
          <td>10%</td>
          <td>Server/development costs</td>
        </tr>
      </table>
      <p class="ron-amount">
        1 $RON = 1 entry
      </p>
      <input
        type="number"
        min="1"
        step="1"
        id="raffle-amount"
        value="0.1"
        oninput="if(this.value.includes('.')) this.value = Math.floor(this.value);"
        onkeydown="if(event.key === '.' || event.key === ',' || event.key === 'e') event.preventDefault();"
      />
      <p class="disclaimer">
        We use $RON instead of $RONEN so the raffle winner won't dump on us.
      </p>

      <div class="button">Join the raffle and start playing!</div>
    </div>
    <div class="thank-you-raffle">
      Thank you for being a part of the raffle.
    </div>
  </div>
</div>