<div class="card raffle-card">
  <div>
    <h2>Get a chance to win</h2>
    <div class="raffle-infos">
      <div class="raffle-info">
        <strong><%= totalAmount ? (totalAmount * 0.4).toFixed(2) : 0 %></strong>
        <label>Prize in $RON</label>
      </div>
      <div class="raffle-info">
        <img src="/img/basic-miner.jpg" />
        <label>Basic Mining #5629</label>
      </div>
    </div>
  </div>
  <div>
    <div class="raffle-id">#<%= raffleId %></div>
    <div class="disclaimer">Ends in <%= days %> days, <%= hours %> hours, <%= minutes %> minutes</div>
    <a href="#" class="button" id="join-raffle-button">Join Raffle</a>
  </div>
</div>