<div class="card raffle-card">
  <div>
    <h2>Get a chance to win</h2>
    <div class="raffle-infos">
      <div class="raffle-info">
        <strong><%= totalAmount ? totalAmount * 0.4 : 0 %></strong>
        <label>Prize in $RON</label>
      </div>
      <div class="raffle-info">
        <img src="/game-assets/flappy-baxie/images/baxie-green.png" />
        <label>Baxie</label>
      </div>
    </div>
  </div>
  <div>
    <div class="raffle-id">#<%= raffleId %></div>
    <div class="disclaimer">Ends in <%= days %> days, <%= hours %> hours, <%= minutes %> minutes</div>
    <div class="button" id="join-raffle-button">Join Raffle</div>
  </div>
</div>