<div id="top-menu">
  <div id="left-menu">
    <div id="logo">
      <a href="/">
        <img src="/img/logo.png?v=2" alt="Ronen Community">
      </a>
    </div>
    <ul>
      <li>
        <a href="/wiki/ronen">Wiki</a>
      </li>
      <li>
        <a href="/games">Games</a>
      </li>
      <li>
        <a href="/raffles">Raffles</a>
      </li>
    </ul>
  </div>
  <div id="right-menu">
    <% if (!wallet) { %>
      <a id="connect-wallet" class="button">Connect Wallet</a>
    <% } else { %>
      <a id="disconnect-wallet" class="button"><%= wallet.address.slice(0, 6) + '••' + wallet.address.slice(-4) %></a>
    <% } %>
  </div>
</div>