<% if(tournamentEntry) { %>
  <div class="card raffle-card">
    <div>
      <h2>Join tournament</h2>
      <div class="raffle-infos">
        <div class="raffle-info">
          <strong>100</strong>
          <label>Prize in $RON</label>
        </div>
      </div>
    </div>
    <div>
      <% if (hasEntry) { %>
        <div class="disclaimer">You have joined the tournament</div>
      <% } else { %>
        <a href="#" class="button" id="join-tournament-entry-button">Join Tournament</a>
      <% } %>
    </div>
  </div>
<% } %>