<ul class="wiki-menu">
  <li class="<%= selectedWiki === 'ronen' ? 'selected' : '' %>">
    <a href="/wiki/ronen">
      <label>
        <img src="/img/ronen.png" />
        <span>Ronen</span>
      </label>
    </a>
    <ol>
      <li>
        <a href="/wiki/rp">
          <label>
            <span>RP (Ronen Points)</span>
          </label>
        </a>
      </li>
    </ol>
  </li>
  <li class="<%= selectedWiki === 'baxie' ? 'selected' : '' %>">
    <a href="/wiki/baxie">
      <label>
        <img src="/img/baxie.png" />
        <span>Baxie</span>
      </label>
    </a>
  </li>
  <li class="<%= selectedWiki === 'dolls' ? 'selected' : '' %>">
    <a href="/wiki/dolls">
      <label>
        <img src="/img/dolls.png" />
        <span>Dolls Fantasy</span>
      </label>
    </a>
  </li>
  <li class="<%= selectedWiki === 'pvr' ? 'selected' : '' %>">
    <a href="/wiki/pvr">
      <label>
        <img src="/img/pvr.png" />
        <span>PVR</span>
      </label>
    </a>
  </li>
  <li class="<%= selectedWiki === 'rcars' ? 'selected' : '' %>">
    <a href="/wiki/rcars">
      <label>
        <img src="/img/rcars.png" />
        <span>RCars</span>
      </label>
    </a>
  </li>
  <li class="<%= selectedWiki === 'ogbearz' ? 'selected' : '' %>">
    <a href="/wiki/ogbearz">
      <label>
        <img src="/img/ogbearz.png" />
        <span>Og bears</span>
      </label>
    </a>
  </li>


  <li class="<%= selectedWiki === 'bomber' ? 'selected' : '' %>">
    <a href="/wiki/bomber">
      <label>
        <img src="/img/bomber.png" />
        <span>Bomber</span>
      </label>
    </a>
  </li>
</ul>