<ul class="wiki-menu">
  <li>
    <a href="/wiki/ronen">
      <label>
        <input type="radio" name="wiki-menu" value="/wiki/ronen"
          <%= selectedWiki === 'ronen' ? 'checked' : '' %>
        />
        <img src="/img/ronen.png" />
        <span>Ronen</span>
      </label>
    </a>
  </li>
  <li>
    <a href="/wiki/baxie">
      <label>
        <input type="radio" name="wiki-menu" value="/wiki/baxie"
          <%= selectedWiki === 'baxie' ? 'checked' : '' %>
         />
        <img src="/img/baxie.png" />
        <span>Baxie</span>
      </label>
    </a>
  </li>
  <li>
    <a href="/wiki/rcars">
      <label>
        <input type="radio" name="wiki-menu" value="/wiki/rcars"
          <%= selectedWiki === 'rcars' ? 'checked' : '' %>
        />
        <img src="/img/rcars.png" />
        <span>RCars</span>
      </label>
    </a>
  </li>
  <li>
    <a href="/wiki/ogbearz">
      <label>
        <input type="radio" name="wiki-menu" value="/wiki/ogbearz"
          <%= selectedWiki === 'ogbearz' ? 'checked' : '' %>
        />
        <img src="/img/ogbearz.png" />
        <span>Og bears</span>
      </label>
    </a>
  </li>
  <li>
    <a href="/wiki/dolls">
      <label>
        <input type="radio" name="wiki-menu" value="/wiki/dolls"
          <%= selectedWiki === 'dolls' ? 'checked' : '' %>
         />
        <img src="/img/dolls.png" />
        <span>Dolls Fantasy</span>
      </label>
    </a>
  </li>
  <li>
    <a href="/wiki/daily-ronke">
      <label>
        <input type="radio" name="wiki-menu" value="/wiki/daily-ronke"
          <%= selectedWiki === 'daily-ronke' ? 'checked' : '' %>
        />
        <img src="/img/daily-ronke.png" />
        <span>Daily Ronke</span>
      </label>
    </a>
  </li>
  <li>
    <a href="/wiki/pvr">
      <label>
        <input type="radio" name="wiki-menu" value="/wiki/pvr"
          <%= selectedWiki === 'pvr' ? 'checked' : '' %>
         />
        <img src="/img/pvr.png" />
        <span>PVR</span>
      </label>
    </a>
  </li>
  <li>
    <a href="/wiki/bomber">
      <label>
        <input type="radio" name="wiki-menu" value="/wiki/bomber"
          <%= selectedWiki === 'bomber' ? 'checked' : '' %>
         />
        <img src="/img/bomber.png" />
        <span>Bomber</span>
      </label>
    </a>
  </li>
  <li>
    <label>
      <input type="checkbox" name="menu" value="/wiki/bomber" />
      <img src="/img/menu.svg" />
      <span>Menu</span>
    </label>
  </li>
</ul>