<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= selectedWiki[0].toUpperCase() + selectedWiki.slice(1).toLowerCase() %> Wiki - Ronen Community</title>
  <link rel="stylesheet" href="/css/wiki.css">
  <link rel="icon" href="/img/favicon.ico" sizes="32x32"/>
  <%- include('../partials/analytics.html') %>
  <%- include('../partials/adsense.html') %>
</head>
<body>
<main>
  <%- include('../partials/top-menu.html') %>
  <%- include('../partials/ads-top-banner.html') %>
  <div class="page-content">
    <%- include('../partials/wiki-menu.html') %>
    <div id="content">
      <%- include(content) %>
    </div>
  </div>
</main>
<script src="/js/app.js"></script>
</body>
</html>
