<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= game.name %> - Ronen Community</title>
  <link rel="stylesheet" href="/css/game-<%= config.distVersion %>.css">
  <style>
    @font-face {
     font-family: 'troika';
     src:
       url('<%= config.cdnLink %>/fonts/troika.woff2') format('woff2'),
       url('<%= config.cdnLink %>/fonts/troika.ttf') format('truetype'),
       url('<%= config.cdnLink %>/fonts/troika.otf') format('opentype');
     font-weight: normal;
     font-style: normal;
     font-display: block;
   }
  </style>
  <%- include('../partials/analytics.html') %>
  <script src="https://cdn.jsdelivr.net/npm/phaser@3/dist/phaser.js"></script>
</head>
<body>
  <%- include('../partials/top-menu.html') %>
  <%- include('../partials/ads-top-banner.html') %>
  <div class="page-content">
    <div id="game-wrapper">
      <div id="game-content" class="<%= game.slug %>"></div>
    </div>
    <div>
      <div class="card game-details">
        <div class="game-details-header">
          <div>
            <h1><%= game.name %></h1>
            <p><%= game.description %></p>
          </div>
          <div>
            <p class="last-updated">Updated: <%= new Date(game.lastUpdate).toLocaleDateString("en-US", {
              month: "short",
              day: "2-digit",
              year: "numeric"
              })  %></p>
          </div>
        </div>
        <div class="change-logs">
          <strong>Change log:</strong>
          <% for (const i in game.changeLog) { %>
            <div class="change-row">
              <div class="change-date">
                <%= new Date(game.changeLog[i].date).toLocaleDateString("en-US", {
                  month: "short",
                  day: "2-digit",
                  year: "numeric"
                  })  %>
              </div>
              <p><%= game.changeLog[i].changes %></p>
            </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
  <%- include('../partials/overlay-disconnect.html') %>
  <%- include('../partials/overlay-login.html') %>
  <%- include('../partials/footer.html') %>
  <script src="/js/<%= gameId %>-<%= config.distVersion %>.js" type="text/javascript"></script>
  <script src="/js/games-<%= config.distVersion %>.js"></script>
</body>
</html>
