@use 'partials/global' as *;
@use 'partials/mixins' as *;
@use 'partials/variables' as *;
@use 'partials/top-menu' as *;
@use 'partials/overlay' as *;
@use 'partials/card' as *;
@use 'partials/raffle-card' as *;
@use 'partials/game-card' as *;
@use 'partials/footer' as *;

.page-content {
  display: flex;
  flex-direction: column;
}

.requires-login {
  color: white;
  margin-top: 32px;
  margin-bottom: 8px;
  font-size: 20px;
}

.game-catalog {
  color: white;
  margin-top: 32px;
  margin-bottom: 8px;
  text-transform: uppercase;
  font-size: 20px;
}
