@use 'partials/global' as *;
@use 'partials/mixins' as *;
@use 'partials/variables' as *;
@use 'partials/top-menu' as *;
@use 'partials/card' as *;
@use 'partials/overlay' as *;
@use 'partials/footer' as *;
@use 'partials/wiki-menu' as *;
@use 'partials/game-card' as *;

.page-content {
  padding: $padding-side;
}

.sub-section {
  margin-top: 32px;
}

h1 {
  font-size: 30px;
  font-family: 'Press Start 2P', serif;
  padding-bottom: 30px;
  color: white;
  text-align: center;
  padding-top: 60px;
  line-height: 1.2em;
}

.intro {
  color: white;
  padding: 0 0 60px;
  text-align: center;

  li {
    font-size: 20px;
    font-family: 'Press Start 2P', serif;
    padding-bottom: 12px;
    padding-left: 12px;
  }
}

.wiki-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;

  @include min-768 {
    flex-direction: row;
    align-items: center;
  }

  a {
    background-color: color-mix(in oklab, #111 80%, transparent);
    backdrop-filter: blur(8px);
    width: 256px;
    height: 160px;
    border-radius: 8px;
    margin: auto;
  }

  label {
    flex-direction: column;
    height: 100%;

    img {
      display: block;
      height: 100%;
      max-width: unset;
      flex: 1;
      object-fit: contain;
    }

    span {
      display: none;
    }
  }
}
