@use 'partials/global' as *;
@use 'partials/mixins' as *;
@use 'partials/variables' as *;
@use 'partials/top-menu' as *;
@use 'partials/card' as *;
@use 'partials/overlay' as *;

.page-content {
  padding: $padding-side;
}

.sub-section {
  margin-top: 32px;
}

.intro {
  color: white;
  margin-bottom: 32px;
}

.game-list {
  margin: 0;

  .game-card {
    display: flex;
  }
}
