@use 'partials/global' as *;
@use 'partials/mixins' as *;
@use 'partials/variables' as *;
@use 'partials/top-menu' as *;
@use 'partials/wiki-menu' as *;
@use 'partials/overlay' as *;
@use 'partials/card' as *;
@use 'partials/footer' as *;

.page-content {
  @include min-768 {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 32px;
  }

  h1 {
    font-family: 'Press Start 2P', serif;
    font-size: 20px;
    color: white;
    position: relative;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 24px;
    line-height: 1.3em;

    @include min-768 {
      margin-top: 0;
    }
  }

  .aside {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    z-index: 3;
    overflow: auto;
    transition: max-height 0.4s ease;

    @include min-768 {
      width: 250px;
      position: static;
      z-index: 1;
    }

    h3 {
      margin-bottom: 12px;
      font-family: 'Press Start 2P', serif;
      font-size: 14px;
      color: white;
      position: relative;
      text-transform: uppercase;
      text-align: left;
      display: none;

      @include min-768 {
        display: block;
      }
    }
  }

  &:has(input[name="menu"]:checked) {
    @include max-767 {
      #content {
        filter: blur(5px);
      }
    }
  }

  ol, ul {
    margin-left: 0;
  }

  ol {
    list-style: disc;
    margin-left: 14px;

    ol {
      margin-top: 12px;
    }
  }
}

#content {
  flex: 1;
  color: white;

  width: 100%;

  @include min-768 {
    margin-top: 0;
  }

  section {
    margin-bottom: calc(24px + 1rem);
  }

  ol {
    ul {
      margin-top: 8px;

      li {
        margin-bottom: 4px;
      }
    }
  }
}

.new {
  border-color: $border-color;
  background: $border-color;
  display: inline-flex;
  padding: 6px 8px;
  font-size: 12px;
  color: $content-bg;
  border-radius: 8px;
  line-height: 1em;
}

h2 {
  .new {
    position: relative;
    top: -4px;
  }
}

.sub-section {
  margin-top: 32px;
}

.rp-info {
  font-size: 70%;
}

.other-wikies-menu {
  flex: 1;
  text-align: right;
  position: relative;

  .mobile-menu {
    display: inline-block;
    background: color-mix(in oklab, oklch(20.8% .042 265.755) 80%, transparent);
    backdrop-filter: blur(8px);
    color: white;
    padding: 6px 12px 4px;
    cursor: pointer;
    background: $table-border-color;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    border: 1px solid oklch(79.2% 0.209 151.711deg / 0.3);
    border-radius: 6px;
  }


  #mobile-wiki {
    position: absolute;
    left: -10000px;
  }

  &:has(#mobile-wiki:checked) {
    .card {
      max-height: 1000px;
      display: block;
    }
  }

  .card {
    display: none;
    position: absolute;
    right: 0;
    z-index: 99;
    background: $body-bg;

    @include max-767 {
      overflow: hidden;
      max-height: 0;
      width: 300px;
    }

    li::before {
      display: none;
    }
  }
}